.nav-container{

}
.navbar
{
    width: 100%;
    height: 50px;
    background-color: rgb(7, 57, 220);
    position: fixed;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo
{
    font-size: 1.6rem;
    color:white;
    flex: 2;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.logo a
{
    text-decoration: none;
    /* flex:1
    ; */
    padding-left: 15px;
    color: white;
    font-weight: bold;
}
.search-container
{
    display: flex;
    border-radius: 10px;
   

}
.search
{
    background-color: white;
  
    flex: 2.5;
    

}
.input
{
  padding: 7px;
  border: none;
  outline: none;
  flex: 0.9;
  border-radius: 10px;
}
.search-btn
{
    flex: 0.1;
    /* border-radius: 10px; */
    display: inline-block;
    background-color: rgb(220, 220, 224);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info
{
    flex: 1.5;
    /* background-color: red; */
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

}
.info .name
{
    padding: 0.8rem;
}
a.name
{
    text-decoration: none;
    color: white;
}
.info .more
{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    /* padding: 0.8rem; */
   
   
}
.info .more .mores
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 3px;
    
}
.info .more .mores i
{
    padding-top: 3px;
}


.box
{
    position:absolute;
    color: black;
    z-index: 1;
    width: max-content;
    top: 20px;
    background-color: whitesmoke;
    
    list-style-type: none;
    display: none;
    width: 200px;
    
}
.info .more:hover .box
{
    display: block;
}
.box li 
{
    padding: 5px 10px;
    text-align: center;
    /* margin: 3px 5px; */
    border: 1px solid lightgray;
}
.box li a
{
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.cart
{
    
    flex: 0.5;
    /* background-color: brown; */
    padding: 6px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    align-items: center;

    justify-content: center;
    
}
.cart a
{
    text-decoration: none;
    color: white;
}
.cart a i
{
    font-size: 1.6rem;
}
.cart-count
{
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 50%;
    display: inline-block;
    
}
@media (max-width:607px)
{
    .logo
    {
        flex: none;
        width: auto;
    }
    .info
    {
        flex: none;
        width: auto;
        order: 0;
    }
    .info .name
    {
        display: none;
    }
    .cart
    {
        flex: none;
        width: auto;
        margin-right: 5px;
    }
}
@media (max-width:444px)
{
    .search
    {
        display: none;
    }
    .logo
    {
        flex: 1;
        justify-self: flex-start;
    }
    .logo a
    {
        flex: 1;
    }
}