.right-side
{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem 0rem

}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.8rem;
    gap: 10px;
    /* margin-top: 2rem; */
}
.input-field
{
    padding: 0.5rem 0rem;
    border: none;
    outline: none;
    background-color: rgb(250, 246, 246);
    border-bottom: 2px solid gray;
    
}
.terms-condition
{
    font-size: 14px;
      color: gray;
}
.login-btn
{
    padding: 0.5rem;
    background-color: rgba(255, 68, 0, 0.76);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 2rem;
}
.right-side a
{
  color: rgb(13, 117, 244);
  text-align: center;  
}